html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.navbar-default .navbar-nav a {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav .active a {
  background-color: inherit;
  color: #399bd1;
}

.navbar-default .navbar-nav .active a:hover {
  background-color: inherit;
  color: #399bd1;
}

.jumbotron-bike, .jumbotron-beer, .jumbotron-flowers, .jumbotron-duffel {
  padding: 11.85rem 0;
  height: 600px;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.jumbotron-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.jumbotron-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

.jumbotron h1, .jumbotron p {
  text-align: center;
  width: 51.3rem;
  margin: 0 auto;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
}

.jumbotron button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media only screen and (max-width: 780px) {

}

@media only screen and (max-width: 767.5px) {
  .jumbotron-bike, .jumbotron-beer, .jumbotron-flowers, .jumbotron-duffel {
    padding-top: 16rem;
  }

  .jumbotron h1 {
    font-size: 2.5rem;
  }

  .jumbotron p {
    font-size: 1.2rem;
  }

  .jumbotron h1, .jumbotron p {
    width: 100%;
    padding: 0 15px;
  }
}

button {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin-top: 2.8rem;
  padding: 1.3rem 0;
  width: 11.4rem;
}

button:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

button:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

h2 {
  color: #399bd1;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  width: 100%;
  opacity: 0.7;
  transition: all 0.5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  h3.featured-project, h3.product-categories {
    margin-top: 0;
  }
}

h3.product-categories {
  color: #399bd1;
}

.product-categories-list li {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

#projects {
  margin-bottom: 5.2rem;
}

footer {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div {
  text-align: center;
  width: 42rem;
}

h2.footer-title {
  font-size: 2.5rem;
  margin-bottom: 1.4rem;
  color: #000000;
}

@media only screen and (max-width: 780px) {
  footer div {
    width: 100%;
    padding: 0 15px;
  }
}
